<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type="text/css" href="index.css">
    <link rel= "stylesheet" type="text/css" href="participation.css">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>participation</title>
  </head>
  <body onload="var data = <%= JSON.stringify(alert1)%>;
  if(data!=''){
	  var name = <%=JSON.stringify(log)%>;  
	  if(data === name+'님 영어 골든벨에 신청되셨습니다! 좋은 성적 거두시길!' || data === name+'님 GSMFESTIVAL에 신청되셨습니다! 좋은 성적 거두시길!'){
		swal(<%= JSON.stringify(alert1)%>, '', 'success');
	}
    else swal(<%= JSON.stringify(alert1)%>, '', 'error');
    };">
    <ul>
      <li><a href="schedule.ejs">일정표</a></li>
      <li class="now"><a href="participation.ejs">참가신청</a></li>
      <a href="index.ejs"><img src="GCMLOGO" style="width:110px; position:relative; left:35%"></a>
      <li style="float:right; list-style-type:none">
        <% if(!log){ %>
          <a href="/login.html">로그인</a>
        <% } else { %>
          <a href="mypage.ejs" ><%= log%>님</a>
        <% } %>
      </li>
    </ul>

    <div class="calendar-container">
      <p>전체 대회 목록</p>
  			<div class="container-table100">
  				<div class="wrap-table100">
  						<div class="table">
  							<div class="row header">
  								<div class="cell">대회명</div>
  								<div class="cell">대회장소</div>
  								<div class="cell">참가신청기간</div>
  								<div class="cell">대회날짜</div>
  								<div class="cell">참가팀수</div>
  								<div class="cell">대진표</div>
  							</div>

  							<div class="row">
  								<div class="cell">e-sports 대회</div>
  								<div class="cell">마이크로프로세서 1, 2실</div>
  								<div class="cell">2019. 05. 23 ~ 2019. 06. 01</div>
  								<div class="cell">2019. 06. 05</div>
  								<div class="cell">6팀</div>
  								<div class="cell"><a href="match.ejs">대진표</a></div>
  							</div>

  							<div class="row">
  								<div class="cell">영어 팝송대회</div>
  								<div class="cell">금봉관 2층 강당</div>
  								<div class="cell">2019. 05. 01 ~ 2019. 05. 17</div>
  								<div class="cell">2019. 07. 22</div>
  								<div class="cell">10팀</div>
  								<div class="cell"></div>
  							</div>

  							<div class="row">
  								<div class="cell"><a href="goldenbell.ejs">영어 골든벨</a></div>
  								<div class="cell">금봉관 2층 강당</div>
  								<div class="cell">2019. 11. 01 ~ 2019. 11. 14</div>
  								<div class="cell">2019. 11. 25</div>
  								<div class="cell"><%=Teamcnt[0]%>팀</div>
  								<div class="cell"></div>
  							</div>

  							<div class="row">
  								<div class="cell"><a href="gsmfestival.ejs">GSM 페스티벌</a></div>
  								<div class="cell">금봉관 2층 강당</div>
  								<div class="cell">2019. 11. 30 ~ 2019. 12. 07</div>
  								<div class="cell">2020. 01. 08</div>
  								<div class="cell"><%=Teamcnt[1]%>팀</div>
  								<div class="cell"></div>
  							</div>
  						</div>
  				</div>
  			</div>
  		</div>
  </body>
</html>