<!DOCTYPE html>
<html lang="kr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type="text/css" href="index.css">
    <link rel= "stylesheet" type="text/css" href="participation.css">
    <title>participation</title>
  </head>
  <body onload="if(<%= JSON.stringify(alert1)%>!=''){
    alert(<%= JSON.stringify(alert1)%>)
    };">
    <ul>
      <li><a href="schedule.ejs">일정표</a></li>
      <li class="now"><a href="participation.ejs">참가신청</a></li>
      <a href="index.ejs"><img src="GCMLOGO" style="width:110px; position:relative; left:34.65%"></a>
      <li style="float:right; list-style-type:none">
        <% if(!log){ %>
          <a href="/login.html">로그인</a>
        <% } else { %>
          <a href="mypage.ejs" ><%= log%>님</a>
        <% } %>
      </li>
    </ul>

    <div class="calendar-container">
      <p>전체 대회 목록</p>
  			<div class="container-table100">
  				<div class="wrap-table100">
  						<div class="table">
  							<div class="row header">
  								<div class="cell">대회명</div>
  								<div class="cell">대회장소</div>
  								<div class="cell">참가신청기간</div>
  								<div class="cell">대회날짜</div>
  								<div class="cell">참가팀수</div>
  								<div class="cell">대진표</div>
  							</div>

  							<div class="row">
  								<div class="cell">e-sports 대회</div>
  								<div class="cell">
  									소프트웨어 개발 1/2실<br>
  									마이크로프로세서 1/2실
  								</div>
  								<div class="cell">참가신청기간</div>
  								<div class="cell">대회날짜</div>
  								<div class="cell">참가팀수</div>
  								<div class="cell"><button>대진표</button></div>
  							</div>

  							<div class="row">
  								<div class="cell">영어 팝송대회</div>
  								<div class="cell">대회장소</div>
  								<div class="cell">참가신청기간</div>
  								<div class="cell">대회날짜</div>
  								<div class="cell">참가팀수</div>
  								<div class="cell"><button>대진표</button></div>
  							</div>

  							<div class="row">
  								<div class="cell">영어 골든벨</div>
  								<div class="cell">대회장소</div>
  								<div class="cell">참가신청기간</div>
  								<div class="cell">대회날짜</div>
  								<div class="cell"><%=Teamcnt[0]%></div>
  								<div class="cell" style="text-decoration: line-through">대진표</div>
  							</div>

  							<div class="row">
  								<div class="cell">GSM 페스티벌</div>
  								<div class="cell">대회장소</div>
  								<div class="cell">참가신청기간</div>
  								<div class="cell">대회날짜</div>
  								<div class="cell"><%=Teamcnt[1]%></div>
  								<div class="cell" style="text-decoration: line-through">대진표</div>
  							</div>
  						</div>
  				</div>
  			</div>
  		</div>
  </body>
</html>
